<app-header></app-header>
<p-fieldset [toggleable]="true"  legend="Search">
  <div class="flex justify-content-center align-content-center">
    <div class="col-3">
      <div class=" flex _right ">
        <label for="float-input"  class="label-size">Register Number:</label>
        <input [(ngModel)]="registerNumber" class="p-inputtext-sm ml-1" id="float-input" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Id-client-number:</label>
        <input [(ngModel)]="idClientNumber" class="p-inputtext-sm ml-1" id="id-client-number" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Client Name:</label>
        <input [(ngModel)]="clientName" class="p-inputtext-sm ml-1" id="client-name" pInputText type="text">
      </div>
    </div>
    <div class="col-3 ml-2">
      <div class=" _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Currency:</label>
        <input [(ngModel)]="currency" class="p-inputtext-sm ml-1" id="currency" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Credit status:</label>
        <input [(ngModel)]="creditStatus" class="p-inputtext-sm ml-1" id="credit status" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size"> Term of use the loan:</label>
        <input [(ngModel)]="termOfUseTheLoan" class="p-inputtext-sm ml-1" pInputText type="text">
      </div>
    </div>
    <div class="col-3">
      <div class=" _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Data From:</label>
        <input [(ngModel)]="dataFrom" class="p-inputtext-sm ml-1" pInputText type="date">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Data To:</label>
        <input [(ngModel)]="dataTo" class="p-inputtext-sm ml-1" pInputText type="date">
      </div>
      <button pButton pRipple style="background-color: #00a0b4;margin-left: 250px" label="Search"  icon="pi pi-search" class="p-button-success p-button-sm mt-4" (click)="search()" ></button>
    </div>
  </div>

</p-fieldset>



<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple style="background-color: #00a0b4" label="New" icon="pi pi-plus" class="p-button-success p-button-sm p-mr-2" (click)="openNew()"></button>
    </ng-template>
    <ng-template pTemplate="right">
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>-->
      <button pButton pRipple style="background-color: #00a0b4" label="Export"  icon="pi pi-upload" class="p-button-help p-button-sm"></button>
    </ng-template>
  </p-toolbar>
  <p-table #dt [value]="products" [rows]="5" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
           [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="header"  class="bg-yellow-50" style="font-size: 10px!important;background-color: #00a0b4!important;">
      <tr class="w-auto" style="background-color: #00a0b4!important;">
        <th >
          <!--          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
          Operation
        </th>
        <th pSortableColumn="RegistrationNumber" >Registration number </th>
        <th pSortableColumn="Status" >Status </th>
        <th pSortableColumn="ClientId">Client ID </th>
        <th pSortableColumn="ClientName">Client Name </th>
        <th pSortableColumn="ClientType">Client type </th>
        <th pSortableColumn="Amount">Amount </th>
        <th pSortableColumn="ApplicationDate">Application date </th>
        <th pSortableColumn="TermUse">Term of use of Credit </th>
        <th pSortableColumn="Currency">Currency </th>
        <th pSortableColumn="InterestRate">Interest Rate </th>
        <th pSortableColumn="LoanType">Loan type </th>
        <th pSortableColumn="LoanPurpose">Loan purpose</th>
        <th pSortableColumn="LoanPurpose">Loan purpose</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="table table-bordered">
      <tr style="height: 20px!important;padding: 0!important; " >
        <td>

          <i class="pi pi-align-justify cursor-pointer"   (click)="openMenu(menu.toggle($event), idClientNumber)" style="font-size: 20px; color: #00a0b4"></i>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [modal]="true" [style]="{width: 'auto'}" header="New Loan Request" styleClass="p-fluid">
  <app-dialog></app-dialog>
</p-dialog>

<p-dialog [(visible)]="viewLoanReq" [modal]="true" [style]="{width: '1300px'}" header=""
          styleClass="p-fluid">
  <h3 class="text-center text-bluegray-600">View details of the loan request</h3>
  <div class="flex justify-content-center align-content-center mt-1">
    <div class="col-2">
      <h4 class="text-bluegray-600">Registration number:</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Client ID  number:</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Name</h4>
    </div>
    <div class="col-2">
      <p>string</p>
    </div>
  </div>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2">
      <h4 class="text-bluegray-600">Surname</h4>
    </div>
    <div class="col-2">
      <p>string</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Birth Date</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Type of certification code</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>


  </div>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2">
      <h4 class="text-bluegray-600">Name of certification code</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Who issued the certification document</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Serial number of document</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
  </div>
  <hr>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2">
      <h4 class="text-bluegray-600">Date of issue of the certification document</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Number of document</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Gender code</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
  </div>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2">
      <h4 class="text-bluegray-600">Gender Name</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Name of type of certification</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Date issue of the certification</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
  </div>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2">
      <h4 class="text-bluegray-600">Borrower type name</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Who issued the certification r</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600"> Document Number</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
  </div>
  <hr>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2"><h4 class="text-bluegray-600">Application type name</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2"><h4 class="text-bluegray-600">Subject type code</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600"> Date of application</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
  </div>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2">
      <h4 class="text-bluegray-600">   Subject type name</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2"><h4 class="text-bluegray-600">Code of credit type</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">      Name of loan type</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
  </div>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2">
      <h4 class="text-bluegray-600">     Loan Maturity date</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>

    <div class="col-2"><h4 class="text-bluegray-600">
      Estimated number of employees</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">     Interest rate</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
  </div>
  <hr>
  <div class="flex justify-content-center align-content-center">
    <div class="col-2"><h4 class="text-bluegray-600">Loan amount</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Credit purpose code</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-2">
      <h4 class="text-bluegray-600">Lending purpose name</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
  </div>
  <div class="flex justify-content-center align-content-center">
    <div class="col-3">
      <h4 class="text-bluegray-600">     Loan Maturity date</h4>
    </div>
    <div class="col-2">
      <p>123123123123</p>
    </div>
    <div class="col-7 mt-5  ml-23">
      <button class="p-button-success p-button-sm w-5rem" (click)="viewLoanReq=false" icon="pi pi-check-square"  label="Ok" pButton pRipple
              style="background-color: #00a0b4"></button>
    </div>

  </div>


</p-dialog>

<p-dialog [(visible)]="updateLoanReq" [modal]="true" [style]="{width: '1200px'}" header="Update Loan Request" styleClass="p-fluid">
  <form>
  <div class="flex w-auto">
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
    <div class="col-2 ">
      <label>Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label>Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
  </div>
    <div class="flex w-auto">
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
    </div>
    <div class="flex w-auto">
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
    </div>
    <div class="flex w-auto">
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
    </div>
    <div class="flex w-auto">
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label>Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label>Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
  </div>
    <div class="flex w-auto">
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
    </div>
    <div class="flex w-auto">
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label>Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
      <div class="col-2 ">
        <label >Register Number</label>
        <input name="registerNumber" type="text">
      </div>
    </div>
    <div class="flex w-auto">
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label>Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label>Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
    <div class="col-2 ">
      <label >Register Number</label>
      <input name="registerNumber" type="text">
    </div>
  </div>
    <div class="flex justify-content-between align-content-center mt-2">
      <div class=" col-2">
        <button class="p-button-success p-button-sm " (click)="updateLoanReq=false" icon="pi pi-times-circle"  label="Cancel" pButton pRipple
                style="background-color: #00a0b4"></button>
      </div>
      <div class="col-2">
        <button class="p-button-success p-button-sm " (click)="updateLoanRequest()" icon="pi pi-pencil" label="UpdateLoanRequest" pButton pRipple
                style="background-color: #00a0b4"></button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="dialogForRejectedLoan" [modal]="true" [style]="{width: '1020px'}"
          header="Rejection of a loan application" styleClass="p-fluid">
  <div class="flex w-auto">
    <div class="col-10">
      <label class="label-size" for="float-input">Register Number:</label>
    </div>
    <div class="col-1">
      <input [placeholder]="registerId" class="p-inputtext-sm ml-1" pInputText type="text">
    </div>
  </div>
  <div class="flex w-auto">
    <div class="col-9">
      <label class="label-size" for="float-input">The code of the credit institution:</label>
    </div>
    <div class="col-1">
      <input class="p-inputtext-sm " pInputText style="width: 50px!important; " type="text">
    </div>
    <div class="col-1">
      <input class="p-inputtext-sm " pInputText type="text">
    </div>
  </div>
  <div class="flex w-auto">
    <div class="col-10">
      <label class="label-size" for="float-input">Legal number of the rejection decision:</label>
    </div>
    <div class="col-1">
      <input class="p-inputtext-sm ml-1" pInputText type="text">
    </div>
  </div>
  <div class="flex w-auto">
    <div class="col-10">
      <label class="label-size" for="float-input">Date of the decision to reject:</label>
    </div>
    <div class="col-1">
      <input class="p-inputtext-sm ml-1" pInputText type="date">
    </div>
  </div>
  <div class="flex w-auto">
    <div class="col-9">
      <label class="label-size" for="float-input">Application rejection reason code:</label>
    </div>
    <div class="col-1">
      <input class="p-inputtext-sm ml-1" pInputText style="width: 50px!important;" type="text">
    </div>
    <div class="col-1">
      <input class="p-inputtext-sm ml-1" pInputText type="text">
    </div>
  </div>
  <div class="flex justify-content-between align-content-center mt-2">
    <div class=" col-2">
      <button class="p-button-success p-button-sm " (click)="dialogForRejectedLoan=false" icon="pi pi-times-circle" label="Cancel" pButton pRipple
              style="background-color: #00a0b4">
      </button>
    </div>
    <div class="col-2">
      <button class="p-button-success p-button-sm " (click)="rejectedLoanReq()" icon="pi pi-directions-alt" label="Reject" pButton pRipple
              style="background-color: #00a0b4"></button>
    </div>
  </div>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
