<app-header></app-header>
<p-fieldset [toggleable]="true"legend="Поиск" class="table-width">
  <div class="flex justify-content-center align-content-center ml-8">
    <div class="col-4">
      <div class=" flex _right ">
        <label for="float-input"  class="label-size">Регистрационный номер:</label>
        <input [(ngModel)]="registerNumber" class="p-inputtext-sm ml-1" id="float-input" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Имя клиента:</label>
        <input [(ngModel)]="idClientNumber" class="p-inputtext-sm ml-1" id="id-client-number" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center ml-8">
        <label for="float-input" class="label-size">Валюта:</label>
        <input [(ngModel)]="clientName" class="p-inputtext-sm ml-1" id="client-name" pInputText type="text">
      </div>
    </div>
    <div class="col-4 ml-2">
      <div class=" _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Имя клиента :</label>
        <input [(ngModel)]="currency" class="p-inputtext-sm ml-1" id="currency" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center ml-8">
        <label for="float-input" class="label-size">Тип клиента :</label>
        <input [(ngModel)]="creditStatus" class="p-inputtext-sm ml-1" id="credit status" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size"> Cумма :</label>
        <input [(ngModel)]="termOfUseTheLoan" class="p-inputtext-sm ml-1" pInputText type="text">
      </div>
    </div>
    <div class="col-4">
      <div class=" _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Дата подачи заявки:</label>
        <input [(ngModel)]="dataFrom" class="p-inputtext-sm ml-1" pInputText type="date">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Срок использования кредита  :</label>
        <input [(ngModel)]="dataTo" class="p-inputtext-sm ml-1" pInputText type="date">
      </div>
      <button pButton pRipple  style="background-color:#6D90A3;margin-left: 250px" label="Search"  icon="pi pi-search" class=" mt-4" (click)="search()" ></button>
    </div>
  </div>
</p-fieldset>
<!--<p-toast></p-toast>-->
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple style="background-color:#6D90A3" label="Открытия новой кредитной заявки" icon="pi pi-plus" class="p-button-sm p-mr-2" (click)="openNew()"></button>
    </ng-template>
    <ng-template pTemplate="right">

      <button pButton pRipple style="background-color:#6D90A3" label="Export" (click)="exportExcel()" icon="pi pi-upload" class=" p-button-sm"></button>
    </ng-template>
  </p-toolbar>
  <p-table id="loanExport" #dt1 [value]="productList"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
           styleClass="p-datatable-gridlines"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [globalFilterFields]="['regNumber', 'Status','clientID','clientName','clientType','Amount','Date','loanMaturityDate','Currency','interestRate','loanType','loanPurpose']">

    <ng-template pTemplate="header">
      <tr>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Операция
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Регистрационный номер
            <p-columnFilter type="text" field="regNumber" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Статус
            <p-columnFilter type="text" field="Status" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            ID клиента
            <p-columnFilter type="text" field="clientID" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Имя клиента
            <p-columnFilter type="text" field="clientName" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Тип клиента
            <p-columnFilter type="text" field="clientType" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Cумма
            <p-columnFilter type="text" field="Amount" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Срок использования кредита
            <p-columnFilter type="text" field="Date" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Дата подачи заявки
            <p-columnFilter type="text" field="loanMaturityDate" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Валюта
            <p-columnFilter type="text" field="Currency" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Процентная ставка
            <p-columnFilter type="text" field="interestRate" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Вид кредит
            <p-columnFilter type="text" field="loanType" display="menu"></p-columnFilter>
          </div>
        </th>
        <th appHover>
          <div class="p-d-flex p-jc-between p-ai-center">
            Цель кредит
            <p-columnFilter type="text" field="loanPurpose" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr appHighlight class="table-design">
         <td style="padding:5px!important;"><i class="pi pi-align-justify cursor-pointer"
          (click)="openMenu(menu.toggle($event), idClientNumber)" style="font-size: 20px; color: #6D90A3"></i></td>
        <td class="td-width">
          {{customer.regNumber}}
        </td>
        <td  class="td-width">
          {{customer.Status}}
        </td>
        <td class="td-width">
          {{customer.clientID}}
        </td>
        <td class="td-width">
          {{customer.clientName }}
        </td>
        <td class="td-width">
          {{customer.clientType }}
        </td>
        <td class="td-width">
          {{customer.Amount }}
        </td>
        <td class="td-width">
          {{customer.loanDate}}
        </td>
        <td class="td-width">
          {{customer.loanMaturityDate }}
        </td>
        <td class="td-width">
          {{customer.Currency }}
        </td>
        <td class="td-width">
          {{customer.interestRate }}
        </td>
        <td class="td-width">
          {{customer.loanType }}
        </td>
        <td class="td-width">
          {{customer.loanPurpose }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [modal]="true" [style]="{width: '1300px'}" header="новой кредитной заявки" styleClass="p-fluid">
  <app-dialog></app-dialog>
  <div class="flex justify-content-between align-content-center">
  <button pButton class="p-button-success w-10rem " (click)="productDialog=false">Сохранит </button>
  <button pButton class="p-button-info w-auto " (click)="productDialog=false">Сохранит и отправит в НИКИ и АСОКИ  </button>
  </div>
</p-dialog>

<p-dialog [(visible)]="viewLoanReq" [modal]="true" [style]="{width: '1200px'}" header="" styleClass="p-fluid">
<app-view-loan-request></app-view-loan-request>
</p-dialog>

<p-dialog [(visible)]="updateLoanReq" [modal]="true" [style]="{width: '1200px'}" header="Update Loan Request" styleClass="p-fluid">
    <app-update-loan-request></app-update-loan-request>
</p-dialog>

<p-dialog [(visible)]="dialogForRejectedLoan" [modal]="true" [style]="{width: '1100px'}" header="Rejection of a loan application" styleClass="p-fluid">
    <app-reject-loan-request></app-reject-loan-request>
</p-dialog>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
