<h2>New Loan Request</h2>
 <div class="formgrid grid">
   <div class="field col-2 mt-1">
     <label for="CID">Client ID</label>
     <input pInputText id="CID" type="text" class="inputfield w-full">
   </div>
   <div class="field col-3 col-offset-7 mt-1">
     <label for="ARNumber">Application registration number</label>
     <input pInputText id="ARNumber" type="number" class="inputfield w-full">
   </div>
 </div>
<hr>
<br>
<div class="formgrid grid">
  <div class="field col-2 w-12rem">
    <label for="Surname">Surname</label>
    <input pInputText id="Surname" type="text" class="inputfield w-full ">
  </div>
  <div class="field col-2 w-12rem">
    <label for="Name">Name</label>
    <input pInputText id="Name" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2 w-12rem">
    <label for="Lastname">Lastname</label>
    <input pInputText id="Lastname" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2 w-12rem">
    <label for="DBirth">Date of birth</label>
    <input pInputText id="DBirth" type="date" class="inputfield w-full">
  </div>
  <div class="field col-2  w-14rem ">
    <label for="TCCode">Type of certification code</label>
    <input pInputText id="TCCode" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2">
    <label for="DSeries">Document series</label>
    <input pInputText id="DSeries" type="text" class="inputfield w-full">
  </div>
</div>
<div class="formgrid grid">
  <div class="field col-2 w-10rem">
    <label for="BTCode">Borrower type code </label>
    <input pInputText id="BTCode" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2">
    <label for="GName">Gender name </label>
    <input pInputText id="GName" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2">
    <label for="GCode">Gender code</label>
    <input pInputText id="GCode" type="number" class="inputfield w-full">
  </div>

  <div class="field col-2">
    <label for="BTName">Borrower type name</label>
    <input pInputText id="BTName" type="text" class="inputfield w-full">
  </div>
  <div class="field col-3 ">
    <label for="NTCertification">Name of type of certification </label>
    <input pInputText id="NTCertification" type="text" class="inputfield w-full">
  </div>
</div>

    <div class="formgrid grid">

  <div class="field col-2 w-17rem pl-5">
    <label for="DICertification">Date issue of the certification </label>
    <input pInputText id="DICertification" type="date" class="inputfield w-8">
  </div>
  <div class="field col-3">
    <label for="WICertification">Who issued the certification </label>
    <input pInputText id="WICertification" type="text" class="inputfield w-full">
  </div>

  <div class="field col-2">
    <label for="DNumber">Document Number</label>
    <input pInputText id="DNumber" type="text" class="inputfield w-full">
  </div>

    </div>
<hr>
<br>
<div class="formgrid grid">

  <div class="field col-2 w-14rem">
    <label for="ATName">Application type name</label>
    <input pInputText id="ATName" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2 w-14rem">
    <label for="STNAme">Subject type name</label>
    <input pInputText id="STNAme" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2 w-10rem">
    <label for="STCode">Subject type code</label>
    <input pInputText id="STCode" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2 w-14rem">
    <label for="DAplication">Date of application</label>
    <input pInputText id="DAplication" type="date" class="inputfield w-full">
  </div>
  <div class="field col-2 w-10rem">
    <label for="CCType">Code of credit type</label>
    <input pInputText id="CCType" type="number" class="inputfield w-full">
  </div>
  <div class="field col-2">
    <label for="NLType">Name of loan type</label>
    <input pInputText id="NLType" type="text" class="inputfield w-full">
  </div>
  <div class="field col-3">
    <label for="LNApplication">Legal number of the application</label>
    <input pInputText id="LNApplication" type="number" class="inputfield w-14rem">
  </div>
  <div class="field col-2 w-11rem">
    <label for="RACode">Regulatory act code</label>
    <input pInputText id="RACode" type="number" class="inputfield w-full">
  </div>
  <div class="field col-3">
    <label for="TRegulation">Title of regulation</label>
    <input pInputText id="TRegulation" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2">
    <label for="NLCurrency">Name of loan currency</label>
    <input pInputText id="NLCurrency" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2 w-12rem">
    <label for="LAmount">Loan amount</label>
    <input pInputText id="LAmount" type="number" class="inputfield w-full">
  </div>
</div>
<div class="formgrid grid">
  <div class="field col-2 w-14rem">
    <label for="LMDate">Loan Maturity date</label>
    <input pInputText id="LMDate" type="date" class="inputfield w-full">
  </div>
  <div class="field col-2 w-14rem">
    <label for="CPCode">Credit purpose code</label>
    <input pInputText id="CPCode" type="number" class="inputfield w-full">
  </div>
  <div class="field col-3">
    <label for="LPName">Lending purpose name</label>
    <input pInputText id="LPName" type="text" class="inputfield w-full">
  </div>
  <div class="field col-2 w-16rem">
    <label for="ENemployees">Estimated number of employees</label>
    <input pInputText id="ENemployees" type="number" class="inputfield w-full">
  </div>
  <div class="field col-2 w-10rem">
    <label for="InterestRate">Interest rate</label>
    <input pInputText id="InterestRate" type="number" class="inputfield w-full">
  </div>
</div>
<div class="formgrid grid">
<button pButton type="button" label="Save" class="p-button-info w-8rem ml-8 mt-4"></button>
<button pButton type="button" label="Save and Send NIKI" class="p-button-success mt-4 w-11rem col-offset-7"></button>
</div>
