<h3 class="text-center text-bluegray-600">View details of the loan request</h3>
<div class="flex justify-content-center align-content-center mt-1">
  <div class="col-2">
    <h4 class="text-bluegray-600">Registration number:</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Client ID  number:</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Name</h4>
  </div>
  <div class="col-2">
    <p>string</p>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-2">
    <h4 class="text-bluegray-600">Surname</h4>
  </div>
  <div class="col-2">
    <p>string</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Birth Date</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Type of certification code</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>


</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-2">
    <h4 class="text-bluegray-600">Name of certification code</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Who issued the certification document</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Serial number of document</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
</div>
<hr>
<div class="flex justify-content-center align-content-center">
  <div class="col-2">
    <h4 class="text-bluegray-600">Date of issue of the certification document</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Number of document</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Gender code</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-2">
    <h4 class="text-bluegray-600">Gender Name</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Name of type of certification</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Date issue of the certification</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-2">
    <h4 class="text-bluegray-600">Borrower type name</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Who issued the certification r</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600"> Document Number</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
</div>
<hr>
<div class="flex justify-content-center align-content-center">
  <div class="col-2"><h4 class="text-bluegray-600">Application type name</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2"><h4 class="text-bluegray-600">Subject type code</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600"> Date of application</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-2">
    <h4 class="text-bluegray-600">   Subject type name</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2"><h4 class="text-bluegray-600">Code of credit type</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">      Name of loan type</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-2">
    <h4 class="text-bluegray-600">     Loan Maturity date</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>

  <div class="col-2"><h4 class="text-bluegray-600">
    Estimated number of employees</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">     Interest rate</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
</div>
<hr>
<div class="flex justify-content-center align-content-center">
  <div class="col-2"><h4 class="text-bluegray-600">Loan amount</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Credit purpose code</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-2">
    <h4 class="text-bluegray-600">Lending purpose name</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-3">
    <h4 class="text-bluegray-600">     Loan Maturity date</h4>
  </div>
  <div class="col-2">
    <p>123123123123</p>
  </div>
  <div class="col-7 mt-5  ml-23">
    <button class="p-button-success p-button-sm w-5rem" (click)="viewLoanReq=false" icon="pi pi-check-square"  label="Ok" pButton pRipple
            style="background-color: #00a0b4"></button>
  </div>

</div>
