<app-header></app-header>

<p-fieldset [toggleable]="true"  legend="Поиск">
  <div class="flex justify-content-center align-content-center">
    <div class="col-4">
      <div class=" flex _right flex justify-content-between align-content-center">
        <label for="float-input"  class="label-size">Регистрационный № анкеты:</label>
        <input  class="p-inputtext-sm ml-1" id="float-input" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Регистрационный номер:</label>
        <input  class="p-inputtext-sm ml-1" id="id-client-number" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">ID клиента:</label>
        <input  class="p-inputtext-sm ml-1" id="client-name" pInputText type="text">
      </div>
    </div>
    <div class="col-4 ml-2">
      <div class=" _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Код записи в ЗР :</label>
        <input class="p-inputtext-sm ml-1" id="currency" pInputText type="text">
      </div>
      <div class="mt-2 _right flex justify-content-between align-content-center">
        <label for="float-input" class="label-size">Код залогодателя  :</label>
        <input  class="p-inputtext-sm ml-1" id="credit status" pInputText type="text">
      </div>
      <button pButton pRipple style="background-color:#6D90A3;margin-left:43rem" label="Search"  icon="pi pi-search" class="p-button-sm mt-4" (click)="search()" ></button>
    </div>
  </div>

</p-fieldset>

<p-toast></p-toast>
<div class="card">
  <p-table id="loanExport" [value]="tableData"
           [rows]="11" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
           styleClass="p-datatable-gridlines"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [globalFilterFields]="['regRequest', 'clientID','pledgerCode','clientName','recordCodeCR','borrower','pledger']"
           [scrollable]="true" scrollHeight="420px">
    <ng-template pTemplate="header" >
      <tr class="table-header">
        <th style="background-color: #6D90A3">
          <div class="p-d-flex p-jc-between p-ai-center">
            Регистрационный № анкеты
            <p-columnFilter type="text" field="regRequest" display="menu"></p-columnFilter>
          </div>
        </th>
        <th  style="background-color: #6D90A3">
          <div class="p-d-flex p-jc-between p-ai-center">
            Код залогодателя
            <p-columnFilter type="text" field="pledgerCode" display="menu"></p-columnFilter>
          </div>
        </th>
        <th  style="background-color: #6D90A3">
          <div class="p-d-flex p-jc-between p-ai-center">
            Код записи в ЗР
            <p-columnFilter type="text" field="clientID" display="menu"></p-columnFilter>
          </div>
        </th>
        <th  style="background-color: #6D90A3">
          <div class="p-d-flex p-jc-between p-ai-center">
            Заёмщик
            <p-columnFilter type="text" field="recordCodeCR" display="menu"></p-columnFilter>
          </div>
        </th>
        <th  style="background-color: #6D90A3">
          <div class="p-d-flex p-jc-between p-ai-center">
            Залогодатель
            <p-columnFilter type="text" field="borrower" display="menu"></p-columnFilter>
          </div>
        </th>
        <th  style="background-color: #6D90A3">
          <div class="p-d-flex p-jc-between p-ai-center">
            Регистрационный номер
            <p-columnFilter type="text" field="pledger" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td style="padding:5px!important;"><i class="pi pi-align-justify cursor-pointer"
                                              (click)="openMenu(menu.toggle($event), idClientNumber)" style="font-size: 20px; color: #6D90A3"></i></td>
        <td class="td-width">
          {{product.regRequest}}
        </td>
        <td class="td-width">
          {{product.clientID}}
        </td>
        <td class="td-width">
          {{product.pledgerCode }}
        </td>
        <td class="td-width">
          {{product.recordCodeCR }}
        </td>
        <td class="td-width">
          {{product.borrower }}
        </td>
        <td class="td-width">
          {{product.pledger}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
