
<div class="formgrid grid">
  <div class="field col-2 mt-1">
    <label for="CID">Client ID</label>
    <input class="inputfield w-full" id="CID" pInputText type="text">
  </div>
  <div class="field col-3 col-offset-7 mt-1">
    <label for="ARNumber">Application registration number</label>
    <input class="inputfield w-full" id="ARNumber" pInputText type="number">
  </div>
</div>
<hr>
<br>
<div class="formgrid grid">
  <div class="field col-2 w-12rem">
    <label for="Surname">Surname</label>
    <input class="inputfield w-full " id="Surname" pInputText type="text">
  </div>
  <div class="field col-2 w-12rem">
    <label for="Name">Name</label>
    <input class="inputfield w-full" id="Name" pInputText type="text">
  </div>
  <div class="field col-2 w-12rem">
    <label for="Lastname">Lastname</label>
    <input class="inputfield w-full" id="Lastname" pInputText type="text">
  </div>
  <div class="field col-2 w-12rem">
    <label for="DBirth">Date of birth</label>
    <input class="inputfield w-full" id="DBirth" pInputText type="date">
  </div>
  <div class="field col-2  w-14rem ">
    <label for="TCCode">Type of certification code</label>
    <input class="inputfield w-full" id="TCCode" pInputText type="text">
  </div>
  <div class="field col-2">
    <label for="DSeries">Document series</label>
    <input class="inputfield w-full" id="DSeries" pInputText type="text">
  </div>
</div>
<div class="formgrid grid">
  <div class="field col-2 w-10rem">
    <label for="BTCode">Borrower type code </label>
    <input class="inputfield w-full" id="BTCode" pInputText type="text">
  </div>
  <div class="field col-2">
    <label for="GName">Gender name </label>
    <input class="inputfield w-full" id="GName" pInputText type="text">
  </div>
  <div class="field col-2">
    <label for="GCode">Gender code</label>
    <input class="inputfield w-full" id="GCode" pInputText type="number">
  </div>

  <div class="field col-2">
    <label for="BTName">Borrower type name</label>
    <input class="inputfield w-full" id="BTName" pInputText type="text">
  </div>
  <div class="field col-3 ">
    <label for="NTCertification">Name of type of certification </label>
    <input class="inputfield w-full" id="NTCertification" pInputText type="text">
  </div>
</div>

<div class="formgrid grid">

  <div class="field col-2 w-17rem pl-5">
    <label for="DICertification">Date issue of the certification </label>
    <input class="inputfield w-8" id="DICertification" pInputText type="date">
  </div>
  <div class="field col-3">
    <label for="WICertification">Who issued the certification </label>
    <input class="inputfield w-full" id="WICertification" pInputText type="text">
  </div>

  <div class="field col-2">
    <label for="DNumber">Document Number</label>
    <input class="inputfield w-full" id="DNumber" pInputText type="text">
  </div>

</div>
<hr>
<br>
<div class="formgrid grid">

  <div class="field col-2 w-14rem">
    <label for="ATName">Application type name</label>
    <input class="inputfield w-full" id="ATName" pInputText type="text">
  </div>
  <div class="field col-2 w-14rem">
    <label for="STNAme">Subject type name</label>
    <input class="inputfield w-full" id="STNAme" pInputText type="text">
  </div>
  <div class="field col-2 w-10rem">
    <label for="STCode">Subject type code</label>
    <input class="inputfield w-full" id="STCode" pInputText type="text">
  </div>
  <div class="field col-2 w-14rem">
    <label for="DAplication">Date of application</label>
    <input class="inputfield w-full" id="DAplication" pInputText type="date">
  </div>
  <div class="field col-2 w-10rem">
    <label for="CCType">Code of credit type</label>
    <input class="inputfield w-full" id="CCType" pInputText type="number">
  </div>
  <div class="field col-2">
    <label for="NLType">Name of loan type</label>
    <input class="inputfield w-full" id="NLType" pInputText type="text">
  </div>
  <div class="field col-3">
    <label for="LNApplication">Legal number of the application</label>
    <input class="inputfield w-14rem" id="LNApplication" pInputText type="number">
  </div>
  <div class="field col-2 w-11rem">
    <label for="RACode">Regulatory act code</label>
    <input class="inputfield w-full" id="RACode" pInputText type="number">
  </div>
  <div class="field col-3">
    <label for="TRegulation">Title of regulation</label>
    <input class="inputfield w-full" id="TRegulation" pInputText type="text">
  </div>
  <div class="field col-2">
    <label for="NLCurrency">Name of loan currency</label>
    <input class="inputfield w-full" id="NLCurrency" pInputText type="text">
  </div>
  <div class="field col-2 w-12rem">
    <label for="LAmount">Loan amount</label>
    <input class="inputfield w-full" id="LAmount" pInputText type="number">
  </div>
</div>
<div class="formgrid grid">
  <div class="field col-2 w-14rem">
    <label for="LMDate">Loan Maturity date</label>
    <input class="inputfield w-full" id="LMDate" pInputText type="date">
  </div>
  <div class="field col-2 w-14rem">
    <label for="CPCode">Credit purpose code</label>
    <input class="inputfield w-full" id="CPCode" pInputText type="number">
  </div>
  <div class="field col-3">
    <label for="LPName">Lending purpose name</label>
    <input class="inputfield w-full" id="LPName" pInputText type="text">
  </div>
  <div class="field col-2 w-16rem">
    <label for="ENemployees">Estimated number of employees</label>
    <input class="inputfield w-full" id="ENemployees" pInputText type="number">
  </div>
  <div class="field col-2 w-10rem">
    <label for="InterestRate">Interest rate</label>
    <input class="inputfield w-full" id="InterestRate" pInputText type="number">
  </div>
</div>
<div class="formgrid grid">
  <button class="p-button-info w-8rem ml-8 mt-4" label="Save" pButton type="button"></button>
  <button class="p-button-success mt-4 w-11rem col-offset-7" label="Save and Send NIKI" pButton type="button"></button>
</div>
