<div class="flex justify-content-center align-content-center mr-8">
  <div class="col-3">
    <div class=" flex _right ">
      <label for="float-input"  class="label-size">Register Number:</label>
      <input  class="p-inputtext-sm ml-1" id="float-input" pInputText type="text">
    </div>
    <hr>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Фамилия</label>
      <input class="p-inputtext-sm ml-1" id="id-client-number" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Серия документа </label>
      <input class="p-inputtext-sm ml-1" id="client-name" pInputText type="text">
    </div>
  </div>

  <div class="col-3  ml-7">
    <div class=" _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Фамилия </label>
      <input  class="p-inputtext-sm ml-1" id="currency" pInputText type="text">
    </div>
    <hr>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Имя </label>
      <input class="p-inputtext-sm ml-1" id="credit status" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size"> Номер документа </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="text">
    </div>
  </div>

  <div class="col-3 ml-8">
    <div class=" _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Фамилия</label>
      <input  class="p-inputtext-sm ml-1" pInputText type="date">
    </div>
    <hr>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Отчество</label>
      <input  class="p-inputtext-sm ml-1" pInputText type="date">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Дата рождения </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="date">
    </div>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-3 mr-8">
    <div class=" flex _right ">
      <label for="float-input"  class="label-size">Код половой принадлежности </label>
      <input  class="p-inputtext-sm ml-1" id="float-input" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Название вида удостоверяющего документа </label>
      <input class="p-inputtext-sm ml-1" id="id-client-number" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size"> Код типа заёмщика </label>
      <input class="p-inputtext-sm ml-1" id="client-name" pInputText type="text">
    </div>
    <hr>
  </div>
  <div class="col-3 mr-8">
    <div class=" _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Название половой принадлежности </label>
      <input  class="p-inputtext-sm ml-1" id="currency" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Дата выдачи удостоверяющего документа</label>
      <input class="p-inputtext-sm ml-1" id="credit status" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size"> Название типа заёмщика </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="text">
    </div>
    <hr>
  </div>
  <div class="col-3 mr-8">
    <div class=" _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size"> Код вида удостоверяющего документа </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="number">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Кем выдан удостоверяющий документ </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="text">
    </div>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-3">
    <div class=" flex _right ">
      <label for="float-input"  class="label-size">Код вида заявки </label>
      <input  class="p-inputtext-sm ml-1" id="float-input" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Название типа субъекта</label>
      <input class="p-inputtext-sm ml-1" id="id-client-number" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Код вида кредитования</label>
      <input class="p-inputtext-sm ml-1" id="client-name" pInputText type="text">
    </div>
  </div>
  <div class="col-3 ml-2">
    <div class=" _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Название вида заявки </label>
      <input  class="p-inputtext-sm ml-1" id="currency" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Название вида кредитования</label>
      <input class="p-inputtext-sm ml-1" id="credit status" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size"> Юридический номер заявки</label>
      <input  class="p-inputtext-sm ml-1" pInputText type="text">
    </div>
  </div>
  <div class="col-3">
    <div class=" _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Код типа субъекта </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="date">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Дата подачи заявки</label>
      <input  class="p-inputtext-sm ml-1" pInputText type="date">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Код нормативно-правового акта</label>
      <input  class="p-inputtext-sm ml-1" pInputText type="number">
    </div>
  </div>
</div>
<div class="flex justify-content-center align-content-center">
  <div class="col-3">
    <div class=" flex _right ">
      <label for="float-input"  class="label-size">Название нормативно-правового акта </label>
      <input  class="p-inputtext-sm ml-1" id="float-input" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Сумма кредита </label>
      <input class="p-inputtext-sm ml-1" id="id-client-number" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Код цели кредитования </label>
      <input class="p-inputtext-sm ml-1" id="client-name" pInputText type="text">
    </div>
  </div>
  <div class="col-3 ml-2">
    <div class=" _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Код валюты кредита </label>
      <input  class="p-inputtext-sm ml-1" id="currency" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Процентная ставка </label>
      <input class="p-inputtext-sm ml-1" id="credit status" pInputText type="text">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size"> Название цели кредитования </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="text">
    </div>
  </div>
  <div class="col-3">
    <div class=" _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Название валюты кредита</label>
      <input  class="p-inputtext-sm ml-1" pInputText type="date">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Срок использования кредита </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="date">
    </div>
    <div class="mt-2 _right flex justify-content-between align-content-center">
      <label for="float-input" class="label-size">Предполагаемое количество работников </label>
      <input  class="p-inputtext-sm ml-1" pInputText type="Number">
    </div>
  </div>
</div>
